<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div align="center">
    <h1>Product List</h1>
    <a href="/new">Create New Product</a>
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th>Patient SSN</th>
            <th>Occupation</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Sex</th>
            <th>UserProfile</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="patient : ${patients}">
            <td th:text="${patient.ssn}">Product ID</td>
            <td th:text="${patient.occupation}">Name</td>
            <td th:text="${patient.fullName.getFirstName()}">Brand</td>
            <td th:text="${patient.fullName.getLastName()}">Brand</td>
            <td th:text="${patient.sex}">Made in</td>
            <td th:text="${patient.userProfile}"></td>
            <td>
<!--                <a th:href="/@{'/edit/' + ${patient.id}}">Edit</a>-->
                &nbsp;&nbsp;&nbsp;
                <a th:href="@{'/delete/' + ${patient.ssn}}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>